{% extends 'base.html.twig' %}

{# {% block title %}Log in!{% endblock %} #}

{% block body %}
    <div class="w-full bg-gray-50">
        <div class="max-w-sm mx-auto pt-36 pb-20 md:pt-48 md:pb-32 relative flex justify-center">
            <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous etes connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <h1 class="text-3xl font-bold mb-2 text-center">Connexion</h1>
                <h2 class="text-xl text-gray-400 mb-8 text-center">Dashboard</h2>

                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">E-mail</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6 text-center" autocomplete="email" required autofocus>

                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-6 text-center" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                #}

                <div class="mt-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Connexion
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
