<div class="max-w-7xl mx-auto my-6 py-6 relative flex flex-wrap gap-6 md:gap-8 lg:gap-14">
	{# Left column #}
	<div class="w-full md:w-[73%] flex justify-between flex-wrap gap-4 lg:gap-6 px-4">
		<div class="flex justify-between flex-wrap gap-4 lg:gap-6 relative">
			{% for article in articles %}
				<div class="w-full p-6 sm:w-[47%] shadow-lg hover:shadow-2xl transition-shadow duration-300 ease-in-out cursor-pointer mb-4 relative">
					<a href="{{ path('app_article', {'slug': article.slug}) }}">
						<img src="{{ asset('uploads/img/articles/' ~ article.imageFeatured) }}" alt="{{ article.title }}" class="w-full h-48 object-cover rounded relative">
						<span class="absolute top-10 left-10 bg-red-600/70 rounded text-xs text-white px-2 py-1">
							{# Catégorie de l'article #}
							{{ article.category.title }}
						</span>
						<h2 class="mt-4 text-base font-semibold">{{ article.title }}
						</h2>
						<div class="relative">
							<p class="text-sm text-gray-600 line-clamp-2">
								{{ article.intro|replace({'<div>': '', '</div>': '',})|raw }}
							</p>
						</div>
						<div class="mt-4 text-xs flex justify-between relative">
							<span>
								<i class="fa-regular fa-user"></i>
								{{ article.author.firstname }} {{ article.author.lastname }}</span>
							<span>
								<i class="fa-regular fa-calendar-days"></i>
								{{ article.createdAt|date('d/m/Y') }}
							</span>
							<span>
								<i class="fa-regular fa-comment"></i>
								{{ article.comments|length }}
							</span>
							<span>
								<i class="fa-regular fa-eye"></i>
								{{ article.views }}
							</span>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

	{# Right column #}
	<div class="w-full md:w-[22%] flex flex-col gap-4 md:gap-8 px-4">
		<h2 class="text-2xl text-gray-400 font-semibold">A la une</h2>

		{% for art in articlesFeatured %}
			<div class="border-b border-gray-200 pb-4">
				<h3 class="text-sm text-gray-700 font-semibold mb-2">
					{{ art.title }}
				</h3>
				<a href="{{ path('app_article', {'slug': art.slug}) }}" class="text-sm text-gray-700 hover:text-orange-500">Lire l'article</a>
				<i class="fa-solid fa-arrow-right ml-2 animate-bounce"></i>
			</div>
		{% endfor %}

		<h2 class="text-2xl text-gray-400 font-semibold mt-12">Les plus lus</h2>

		{% for artv in articlesMostViews %}
			<div class="border-b border-gray-200 pb-4">
				<h3 class="text-sm text-gray-700 font-semibold mb-2">
					{{ artv.title }}
				</h3>
				<a href="{{ path('app_article', {'slug': artv.slug}) }}" class="text-sm text-gray-700 hover:text-orange-500">Lire l'article</a>
				<i class="fa-solid fa-arrow-right ml-2 animate-bounce"></i>
			</div>
		{% endfor %}
	</div>
</div>
